@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  font-family: "Lato", sans-serif;
  min-height: 100vh;
  --input-width: 95%;
  --input-height: 2rem;
}

.Albums {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 2rem auto;
  /* border: 1px solid rgb(211, 15, 15); */
  width: 80%;
  flex-direction: column;
}
